In [7]:
import pandas as pd

In [8]:
df=pd.read_excel('AwuscoNight.xlsx')
print(df)

       Names       Skills  Rating  Speed                        Cities
0       Mike    High Kick     3.3    123  323 St,Los Angeles,CA TX3267
1    Micheal     Low Kick     2.3    234  323 St,Los Angeles,CA TX3267
2       Guru    High Kick     4.4     12        122 St,Accra,KM OS2173
3      Caleb  Power Punch     3.4    323        312 St,Accra,AD OS4173
4     Prince       Poison     4.5    123  323 St,Los Angeles,CA TX3267
5     Martin        Toxic     2.1    145        312 St,Accra,AD OS4173
6    Charles        Toxic     1.3     45        122 St,Accra,KM OS2173
7   Benjamin        Blade     4.2     12        312 St,Accra,AD OS4173
8     Thomas       Poison     3.5    453        122 St,Accra,KM OS2173
9    Richard     Low Kick     1.5    222   33 St,Los Angeles,MH TJ1267
10    Junior        Blade     3.6    156   33 St,Los Angeles,MH TJ1267
11   Maxwell    High Kick     1.1    321   33 St,Los Angeles,MH TJ1267
12     Tracy     Low Kick     2.8    333        312 St,Accra,AD OS4173
13    Mariam        Blade     3.3    566        366 St,Accra,KA OS2173
14   Pascals       Poison     1.5     21        122 St,Accra,KM OS2173
15   Jessica       Poison     2.8     23        366 St,Accra,KA OS2173
16     Aaron        Vomit     3.8    456   33 St,Los Angeles,MH TJ1267
17    Magret        Trick     4.8    633  323 St,Los Angeles,CA TX3267
18      Mane        Shoot     NaN    466        366 St,Accra,KA OS2173

In [9]:
#Deleting a row based on some condition

df.dropna(how='any',inplace=True)
df['Power']=df['Rating']*df['Speed']
print(df)

       Names       Skills  Rating  Speed                        Cities   Power
0       Mike    High Kick     3.3    123  323 St,Los Angeles,CA TX3267   405.9
1    Micheal     Low Kick     2.3    234  323 St,Los Angeles,CA TX3267   538.2
2       Guru    High Kick     4.4     12        122 St,Accra,KM OS2173    52.8
3      Caleb  Power Punch     3.4    323        312 St,Accra,AD OS4173  1098.2
4     Prince       Poison     4.5    123  323 St,Los Angeles,CA TX3267   553.5
5     Martin        Toxic     2.1    145        312 St,Accra,AD OS4173   304.5
6    Charles        Toxic     1.3     45        122 St,Accra,KM OS2173    58.5
7   Benjamin        Blade     4.2     12        312 St,Accra,AD OS4173    50.4
8     Thomas       Poison     3.5    453        122 St,Accra,KM OS2173  1585.5
9    Richard     Low Kick     1.5    222   33 St,Los Angeles,MH TJ1267   333.0
10    Junior        Blade     3.6    156   33 St,Los Angeles,MH TJ1267   561.6
11   Maxwell    High Kick     1.1    321   33 St,Los Angeles,MH TJ1267   353.1
12     Tracy     Low Kick     2.8    333        312 St,Accra,AD OS4173   932.4
13    Mariam        Blade     3.3    566        366 St,Accra,KA OS2173  1867.8
14   Pascals       Poison     1.5     21        122 St,Accra,KM OS2173    31.5
15   Jessica       Poison     2.8     23        366 St,Accra,KA OS2173    64.4
16     Aaron        Vomit     3.8    456   33 St,Los Angeles,MH TJ1267  1732.8
17    Magret        Trick     4.8    633  323 St,Los Angeles,CA TX3267  3038.4

In [10]:
f=df.groupby('Skills').sum().sort_values('Rating',ascending=True)
print(f)

             Rating  Speed   Power
Skills
Power Punch     3.4    323  1098.2
Toxic           3.4    190   363.0
Vomit           3.8    456  1732.8
Trick           4.8    633  3038.4
Low Kick        6.6    789  1803.6
High Kick       8.8    456   811.8
Blade          11.1    734  2479.8
Poison         12.3    620  2234.9

# Slicing some parts of the Data

In [15]:
df['Resident']=df['Cities'].apply(lambda x:x.split(',')[1]);
df.drop(columns=['Cities'],inplace=True)
print(df)

       Names       Skills  Rating  Speed   Power     Resident
0       Mike    High Kick     3.3    123   405.9  Los Angeles
1    Micheal     Low Kick     2.3    234   538.2  Los Angeles
2       Guru    High Kick     4.4     12    52.8        Accra
3      Caleb  Power Punch     3.4    323  1098.2        Accra
4     Prince       Poison     4.5    123   553.5  Los Angeles
5     Martin        Toxic     2.1    145   304.5        Accra
6    Charles        Toxic     1.3     45    58.5        Accra
7   Benjamin        Blade     4.2     12    50.4        Accra
8     Thomas       Poison     3.5    453  1585.5        Accra
9    Richard     Low Kick     1.5    222   333.0  Los Angeles
10    Junior        Blade     3.6    156   561.6  Los Angeles
11   Maxwell    High Kick     1.1    321   353.1  Los Angeles
12     Tracy     Low Kick     2.8    333   932.4        Accra
13    Mariam        Blade     3.3    566  1867.8        Accra
14   Pascals       Poison     1.5     21    31.5        Accra
15   Jessica       Poison     2.8     23    64.4        Accra
16     Aaron        Vomit     3.8    456  1732.8  Los Angeles
17    Magret        Trick     4.8    633  3038.4  Los Angeles

In [16]:
df.to_excel('NewChanges.xlsx',index=False)