### Importing Files In Pandas

In [1]:
import pandas as pd

In [2]:
#Loading an excel file
df=pd.read_excel('AwuscoNight.xlsx')
print(df)

       Names       Skills  Rating  Speed                        Cities
0       Mike    High Kick     3.3    123  323 St,Los Angeles,CA TX3267
1    Micheal     Low Kick     2.3    234  323 St,Los Angeles,CA TX3267
2       Guru    High Kick     4.4     12        122 St,Accra,KM OS2173
3      Caleb  Power Punch     3.4    323        312 St,Accra,AD OS4173
4     Prince       Poison     4.5    123  323 St,Los Angeles,CA TX3267
5     Martin        Toxic     2.1    145        312 St,Accra,AD OS4173
6    Charles        Toxic     1.3     45        122 St,Accra,KM OS2173
7   Benjamin        Blade     4.2     12        312 St,Accra,AD OS4173
8     Thomas       Poison     3.5    453        122 St,Accra,KM OS2173
9    Richard     Low Kick     1.5    222   33 St,Los Angeles,MH TJ1267
10    Junior        Blade     3.6    156   33 St,Los Angeles,MH TJ1267
11   Maxwell    High Kick     1.1    321   33 St,Los Angeles,MH TJ1267
12     Tracy     Low Kick     2.8    333        312 St,Accra,AD OS4173
13    Mariam        Blade     3.3    566        366 St,Accra,KA OS2173
14   Pascals       Poison     1.5     21        122 St,Accra,KM OS2173
15   Jessica       Poison     2.8     23        366 St,Accra,KA OS2173
16     Aaron        Vomit     3.8    456   33 St,Los Angeles,MH TJ1267
17    Magret        Trick     4.8    633  323 St,Los Angeles,CA TX3267
18      Mane        Shoot     NaN    466        366 St,Accra,KA OS2173

In [3]:
#loading a few frames of the data from the top
print(df.head(5))

     Names       Skills  Rating  Speed                        Cities
0     Mike    High Kick     3.3    123  323 St,Los Angeles,CA TX3267
1  Micheal     Low Kick     2.3    234  323 St,Los Angeles,CA TX3267
2     Guru    High Kick     4.4     12        122 St,Accra,KM OS2173
3    Caleb  Power Punch     3.4    323        312 St,Accra,AD OS4173
4   Prince       Poison     4.5    123  323 St,Los Angeles,CA TX3267

In [4]:
#loading a few frames of the data from the bottom
print(df.tail(5))

      Names  Skills  Rating  Speed                        Cities
14  Pascals  Poison     1.5     21        122 St,Accra,KM OS2173
15  Jessica  Poison     2.8     23        366 St,Accra,KA OS2173
16    Aaron   Vomit     3.8    456   33 St,Los Angeles,MH TJ1267
17   Magret   Trick     4.8    633  323 St,Los Angeles,CA TX3267
18     Mane   Shoot     NaN    466        366 St,Accra,KA OS2173

In [5]:
#Loading a text file
#Note:\t stands for a tab seperation if it is a comma seperation you must use this (',')
df=pd.read_csv('AwuscoNight.txt',delimiter='\t');
print(df)

       Name Weapon  Win  Loose
0      Mike  Blade    2      3
1     James    Gun    4      6
2    Martin  Knife   12      2
3    Prince   Fire    4      0
4   Keneath  Blade    6      3
5    Magret   Fire    4      2
6     Tracy    Gun    3      5
7   Micheal  Knife    5      2
8     Banes  Water    2      1
9    Mariam    Gun    3      1
10  Charles   Fire    2      0

# Reading Data in Pandas

In [6]:
#Reading headers
print(df.columns)

Index(['Name', 'Weapon', 'Win', 'Loose'], dtype='object')

In [7]:
#Selecting a column
print(df.columns[1])

Weapon

In [8]:
#Reading Each Column
f=df['Weapon'][:4]
print(f)

0    Blade
1      Gun
2    Knife
3     Fire
Name: Weapon, dtype: object

In [9]:
#Reading Multiple columns
d=df[['Name','Weapon']]
print(d)

       Name Weapon
0      Mike  Blade
1     James    Gun
2    Martin  Knife
3    Prince   Fire
4   Keneath  Blade
5    Magret   Fire
6     Tracy    Gun
7   Micheal  Knife
8     Banes  Water
9    Mariam    Gun
10  Charles   Fire

In [10]:
#reading specific locations (Row,Column)
db=df.iloc[3,:]
print(db)

Name      Prince
Weapon      Fire
Win            4
Loose          0
Name: 3, dtype: object

In [11]:
#Fetching Specific ELements
c=df.loc[df['Weapon']=='Fire']
print(c)

       Name Weapon  Win  Loose
3    Prince   Fire    4      0
5    Magret   Fire    4      2
10  Charles   Fire    2      0

# Sorting And Describing Data

In [12]:
d=df.describe()
print(d)

             Win      Loose
count  11.000000  11.000000
mean    4.272727   2.272727
std     2.866737   1.902152
min     2.000000   0.000000
25%     2.500000   1.000000
50%     4.000000   2.000000
75%     4.500000   3.000000
max    12.000000   6.000000

In [13]:
#calculating for the mean of win manually
#Note:.size is used to grab the length or number of items
s=df['Win']
print(s.sum()/s.size)

4.2727272727272725

In [14]:
#sort_value(nameOfHeader,ascending)
#if ascending=True from A-Z
#if ascending=False from Z-A
ar=df.sort_values('Name',ascending=False)
print(ar)

       Name Weapon  Win  Loose
6     Tracy    Gun    3      5
3    Prince   Fire    4      0
0      Mike  Blade    2      3
7   Micheal  Knife    5      2
2    Martin  Knife   12      2
9    Mariam    Gun    3      1
5    Magret   Fire    4      2
4   Keneath  Blade    6      3
1     James    Gun    4      6
10  Charles   Fire    2      0
8     Banes  Water    2      1

In [15]:
#sorting more than two columns
ar=df.sort_values(['Name','Weapon'],ascending=[1,0])
print(ar)

       Name Weapon  Win  Loose
8     Banes  Water    2      1
10  Charles   Fire    2      0
1     James    Gun    4      6
4   Keneath  Blade    6      3
5    Magret   Fire    4      2
9    Mariam    Gun    3      1
2    Martin  Knife   12      2
7   Micheal  Knife    5      2
0      Mike  Blade    2      3
3    Prince   Fire    4      0
6     Tracy    Gun    3      5

# Manipulating Data

In [16]:
d=df.drop(columns=['Weapon','Loose'])
print(d)

       Name  Win
0      Mike    2
1     James    4
2    Martin   12
3    Prince    4
4   Keneath    6
5    Magret    4
6     Tracy    3
7   Micheal    5
8     Banes    2
9    Mariam    3
10  Charles    2

In [34]:
#Deleting all rows containing Toxic 
f=df.loc[df['Weapon']=='Gun'].index

d=df.drop(index=f)
print(d)

       Name Weapon  Win  Loose  Total    Status    Target  count
0      Mike  Blade    2      3      5  Beginner   Rebound      1
2    Martin  Knife   12      2     14   Lengend  Accurate      1
3    Prince   Fire    4      0      4  Beginner   Rebound      1
4   Keneath  Blade    6      3      9   Lengend  Accurate      1
5    Magret   Fire    4      2      6  Beginner   Rebound      1
7   Micheal  Knife    5      2      7  Beginner   Rebound      1
8     Banes  Water    2      1      3  Beginner   Rebound      1
10  Charles   Fire    2      0      2  Beginner   Rebound      1

In [35]:
#Deleting all NaN(Not a Number values)
f=pd.read_excel('AwuscoNight.xlsx')
g=f.dropna(how='any')
print(g)

       Names       Skills  Rating  Speed                        Cities
0       Mike    High Kick     3.3    123  323 St,Los Angeles,CA TX3267
1    Micheal     Low Kick     2.3    234  323 St,Los Angeles,CA TX3267
2       Guru    High Kick     4.4     12        122 St,Accra,KM OS2173
3      Caleb  Power Punch     3.4    323        312 St,Accra,AD OS4173
4     Prince       Poison     4.5    123  323 St,Los Angeles,CA TX3267
5     Martin        Toxic     2.1    145        312 St,Accra,AD OS4173
6    Charles        Toxic     1.3     45        122 St,Accra,KM OS2173
7   Benjamin        Blade     4.2     12        312 St,Accra,AD OS4173
8     Thomas       Poison     3.5    453        122 St,Accra,KM OS2173
9    Richard     Low Kick     1.5    222   33 St,Los Angeles,MH TJ1267
10    Junior        Blade     3.6    156   33 St,Los Angeles,MH TJ1267
11   Maxwell    High Kick     1.1    321   33 St,Los Angeles,MH TJ1267
12     Tracy     Low Kick     2.8    333        312 St,Accra,AD OS4173
13    Mariam        Blade     3.3    566        366 St,Accra,KA OS2173
14   Pascals       Poison     1.5     21        122 St,Accra,KM OS2173
15   Jessica       Poison     2.8     23        366 St,Accra,KA OS2173
16     Aaron        Vomit     3.8    456   33 St,Los Angeles,MH TJ1267
17    Magret        Trick     4.8    633  323 St,Los Angeles,CA TX3267

In [17]:
#Adding another column to the table
df['Total']=df.iloc[:,2:4].sum(axis=1)
print(df)

       Name Weapon  Win  Loose  Total
0      Mike  Blade    2      3      5
1     James    Gun    4      6     10
2    Martin  Knife   12      2     14
3    Prince   Fire    4      0      4
4   Keneath  Blade    6      3      9
5    Magret   Fire    4      2      6
6     Tracy    Gun    3      5      8
7   Micheal  Knife    5      2      7
8     Banes  Water    2      1      3
9    Mariam    Gun    3      1      4
10  Charles   Fire    2      0      2

# Saving The New Data Above

In [18]:
#Don't forget to bring the extensions

In [19]:
#Converting the file to csv
#filename.to_csv(New Name of file,index)
#Note:If index=True it will include the index produced by jupyter to your new file
f=df.to_csv('AwuscoNightChanges.csv',index=False)
if(f):
    print('Failed')
else:
    print('Success')

Success

In [20]:
#converting the file to excel
e=df.to_excel('AwuscoNightChanges.xlsx',index=False)
if(e):
    print('Failed')
else:
    print('Success')

Success

In [21]:
#converting the file to text file
#sep means seperater and we are seperating each column value by a tab
e=df.to_csv('AwuscoNightChanges.txt',index=False,sep='\t')
if(e):
    print('Failed')
else:
    print('Success')

Success

# FILTERING DATA

In [22]:
df=pd.read_csv('AwuscoNightChanges.txt',delimiter='\t')

In [23]:
r=df.loc[(df['Weapon']=='Gun') & (df['Loose']<=5)]

In [24]:
#Reseting the index of the filtered data
Rr=r.reset_index()
print(Rr)
#or it can be done by not assigning it to a variable
print('or')
r.reset_index(drop=True,inplace=True)
print(r)

   index    Name Weapon  Win  Loose  Total
0      6   Tracy    Gun    3      5      8
1      9  Mariam    Gun    3      1      4
or
     Name Weapon  Win  Loose  Total
0   Tracy    Gun    3      5      8
1  Mariam    Gun    3      1      4

In [25]:
#Checking if the names contains some specific characters
#Note: | between am and in means or
rr=df.loc[df["Name"].str.contains('am|in')]
rr.reset_index(drop=True,inplace=True)
print(rr)

     Name Weapon  Win  Loose  Total
0   James    Gun    4      6     10
1  Martin  Knife   12      2     14
2  Prince   Fire    4      0      4
3  Mariam    Gun    3      1      4

# FILTERING WITH REGX

In [26]:
import re
#flags=re.I means it won't be case sensitive
fr=df.loc[df['Name'].str.contains('In|Ie',flags=re.I,regex=True)]
print(fr)

     Name Weapon  Win  Loose  Total
2  Martin  Knife   12      2     14
3  Prince   Fire    4      0      4

# Conditional Changes

In [27]:
#Single changes
df['Status']=''
df.loc[df['Win']>=6,'Status']="Lengend"
df.loc[df['Win']<6,'Status']="Beginner"
print(df)

       Name Weapon  Win  Loose  Total    Status
0      Mike  Blade    2      3      5  Beginner
1     James    Gun    4      6     10  Beginner
2    Martin  Knife   12      2     14   Lengend
3    Prince   Fire    4      0      4  Beginner
4   Keneath  Blade    6      3      9   Lengend
5    Magret   Fire    4      2      6  Beginner
6     Tracy    Gun    3      5      8  Beginner
7   Micheal  Knife    5      2      7  Beginner
8     Banes  Water    2      1      3  Beginner
9    Mariam    Gun    3      1      4  Beginner
10  Charles   Fire    2      0      2  Beginner

In [28]:
#multiple changes
df['Target']=''
df.loc[df['Win']>=6,['Status','Target']]=["Lengend","Accurate"]
df.loc[df['Win']<6,['Status','Target']]=["Beginner","Rebound"]
print(df)

       Name Weapon  Win  Loose  Total    Status    Target
0      Mike  Blade    2      3      5  Beginner   Rebound
1     James    Gun    4      6     10  Beginner   Rebound
2    Martin  Knife   12      2     14   Lengend  Accurate
3    Prince   Fire    4      0      4  Beginner   Rebound
4   Keneath  Blade    6      3      9   Lengend  Accurate
5    Magret   Fire    4      2      6  Beginner   Rebound
6     Tracy    Gun    3      5      8  Beginner   Rebound
7   Micheal  Knife    5      2      7  Beginner   Rebound
8     Banes  Water    2      1      3  Beginner   Rebound
9    Mariam    Gun    3      1      4  Beginner   Rebound
10  Charles   Fire    2      0      2  Beginner   Rebound

In [29]:
x=df.groupby(['Win']).mean().sort_values('Loose',ascending=True)
print(x)

        Loose      Total
Win
2    1.333333   3.333333
5    2.000000   7.000000
12   2.000000  14.000000
4    2.666667   6.666667
3    3.000000   6.000000
6    3.000000   9.000000

In [30]:
#counting the number of reoccuring items
df['count']=1
v=df.groupby(['Weapon']).count()['count']
print(v)

Weapon
Blade    2
Fire     3
Gun      3
Knife    2
Water    1
Name: count, dtype: int64